{% extends "base.html" %}
{% block start %}

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <!--<a class="navbar-brand">KhadyaVidya</a>-->
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <a href="/logout/" class="btn btn-success" type="submit">Logout</button>
      </a>
    </form>
  </div>
</nav>


<hr>
<p>Hello User : <a href="/profile/" >{{request.user }} </a></p>
<hr>
<div class="container mt-5">

    <form  class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data"> 
        <!--enctype="multipart/form-data" is for sending file/image to the backend-->
        <!--method="post" for sending data from frontend to backend-->
        {% csrf_token %}   <!--This as added to validate the source of front-end data, ensuring that frontend and backend are hosted under same source-->
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
          <input name="name" type="text" required class="form-control">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Chef's Name</label>
            <input name="chef_name" required type="text" class="form-control">
          </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Recipe Description</label>
          <textarea name="description" required class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Recipe Image</label>
            <input name = "image" type="file" class="form-control">
        </div>
        <div class="card-body">
            <h4 class="card-title">Recipe Type</h4>
            <div >
                <input name="recipe_type" type="radio" id="radio1" checked="true" value="veg" />
                <label class="radio" for="radio1">Veg</label>
                <input name="recipe_type" type="radio" id="radio2" value="non-veg"/>
                <label for="radio2">Non-Veg</label>
            </div>
        </div>

        <hr>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="cancel" class="btn btn-primary">Cancel</button>
      </form>

    <hr>
    <form>
    <div class="mt-5">
      <div class="mx-auto col-6">
            <label for="exampleInputPassword1" class="form-label">Search Recipe:</label>
            <input name = "search" value="{{recipes.name}}" type="text" class="form-control">

            <button type="submit" class="btn btn-primary" style="color: cornflowerblue;">Submit</button>
      </div>
    </form>
</div>

<hr><hr>

<table class="table mt-5" border="2px" >
  <thead>
    <tr>
      <th scope="col">Sn.</th>
      <th scope="col">Recipe Name</th>
      <th scope="col">Chef Name</th>
      <th scope="col">Recipe Description</th>
      <th scope="col">Recipe Image</th>
      <th scope="col">Recipe Type</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for rec in recipes%}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{rec.name}}</td>
      <td>{{rec.chef_name}}</td>
      <td>{{rec.description}}</td>
      <td><img src="/media/{{rec.image}} " style="height:100px"></td>
      <td>{{rec.recipe_type}}</td>
      <td>
          <a href="/delete-recipe/{{rec.id}}/" class="btnm btn-danger m-2" style="color:firebrick ">Delete</button>
          <a href="/update-recipe/{{rec.id}}/" class="btnm btn-success " style="color:rgb(0, 149, 248) ">Update</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}