{% extends "base.html" %}
{% block start %}


<div class="container mt-5">

    <form  class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data"> 
        <!--enctype="multipart/form-data" is for sending file/image to the backend-->
        <!--method="post" for sending data from frontend to backend-->
        {% csrf_token %}   <!--This as added to validate the source of front-end data, ensuring that frontend and backend are hosted under same source-->
        
        <h2> REGISTER: </h2>
        
        {% if messages %}
        {{ message.tags }}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">First Name</label>
            <input type="text" class="form-control" name ="first_name"id="exampleInputEmail1" aria-describedby="emailHelp"></div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="last_name" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="email" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">E-mail is your Username</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password"id="exampleInputPassword1">
          </div>
          
          <button type="Register" class="btn btn-primary">Submit</button>
          <hr>
          Already a user? <a href="/login/">Login</a>
      </form>

</div>



{% endblock %}